    <!--Footer-->
    <footer class="page-footer center-on-small-only">
        <!--Footer links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-lg-3 col-md-6 ml-auto">
                    <h5 class="title font-bold mt-3 mb-4">About Collectr</h5>
                    <p>Collectr is a digital extension to a physical F1 car model collection.</p>
		    <p>It is bootstrapped from Spark Model's database and filters 1:43 scaled F1 models.</p>
                </div>
                <!--/.First column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Second column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title font-bold mt-3 mb-4">Links</h5>
                    <ul>
                        <li>
                            <a href="https://sparkmodel.com">Spark Models</a>
                        </li>
                        <li>
                            <a href="https://sparkmodel.wordpress.com">Spark Models Blog</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->
		<hr class="w-100 clearfix d-sm-none">
		<!--Third column -->
		<div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title font-bold mt-3 mb-4">Developers</h5>
		    <ul>
		        <li>
			    <a href="https://github.com/beylsp/collectr">GitHub</a>
			</li>
	            </ul>
		</div>
		<!--/.Third column-->
		<hr class="w-100 clearfix d-sm-none">
		<!--Fourth column-->
		<div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title font-bold mt-3 mb-4"></h5>
		</div>
            </div>
        </div>
        <!--/.Footer links-->

	<!--Call to action-->
	<div class="call-to-action"></div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright"></div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->
