    <header>
        <!--Navbar-->
           <nav class="navbar navbar-expand-lg navbar-inverse navbar-dark fixed-top">
            <div class="container">
		<a class="navbar-brand" href="/">
		  <i id="icon" class="fa fa-car" style="text-shadow: rgb(11, 69, 60) 0px 0px 0px, rgb(11, 73, 64) 1px 1px 0px, rgb(12, 77, 68) 2px 2px 0px, rgb(12, 81, 71) 3px 3px 0px, rgb(13, 85, 75) 4px 4px 0px, rgb(14, 90, 79) 5px 5px 0px, rgb(14, 94, 82) 6px 6px 0px; font-size: 25px; color: rgb(255, 255, 255); height: 50px; width: 50px; line-height: 50px; border-radius: 0%; text-align: center; background-color: rgb(15, 98, 86);"></i></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline" id="search" action="/search">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="query">
                    </form>
		    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">My Collection</a>
                        </li>
		    </ul>
                </div>
                </div>
            </nav>
        <!--/.Navbar-->
    </header>
